@{
    ViewData["Title"] = "Listado de Reviews";
}
<!-- Encabezado de la página -->
<h1 class="mt-4">@ViewData["Title"]</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">@ViewData["Title"]</li>
</ol>
<!-- End Encabezado de la página -->
<!-- Botones de la página para agregar y exportar -->
<div class="row">
    <div class="col-xl-12 col-md-12 mb-4">
        <div class="btn-group" role="group" aria-label="Basic example">
            <a class="btn btn-primary" asp-action="Create">
                <i class="fas fa-plus-circle"></i> Agregar nuevo review
            </a>
        </div>
    </div>
</div>

<!-- Contenido de la página -->
<!-- Tabla de datos -->
<div class="row">
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Tus últimos reviews realizados
        </div>
        <div class="card-body">
            <table id="tblReviews" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%" aria-describedby="dataTable_info">
                <thead class="thead-dark">
                    <tr>
                        <th>Titulo</th>
                        <th>Autor</th>
                        <th>Fecha de creación</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- End Tabla de datos -->
<!-- End Contenido de la página -->
<!-- Scripts de la página -->
@section Scripts {
    @{
        await
      Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/reviews.js"></script>
}
<!-- End Scripts -->
