@model CamarasReviews.Models.CategoryModel
@{
    ViewData["Title"] = "Listado de Categorías";
}

<!-- Encabezado de la página -->
<h1 class="mt-4">@ViewData["Title"]</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">@ViewData["Title"]</li>
</ol>
<!-- End Encabezado de la página -->
<!-- Botones de la página para agregar y exportar -->
<div class="row">
    <div class="col-xl-12 col-md-12 mb-4">
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalAgregarCategoria" id="btnAgregarCategoria">
                <i class="fas fa-plus"></i>
                Agregar Categoría
            </button>
        </div>
    </div>
</div>
<!-- End Botones de la página para agregar y exportar -->
<!-- Modal para agregar -->
<!-- Modal -->
<div class="modal fade" id="modalAgregarCategoria" tabindex="-1" aria-labelledby="modalAgregarCategoriaLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="fromUpsert" method="POST">
                <input type="hidden" id="categoryId" name="categoryId" asp-for="CategoryId" />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="modal-header bg-primary text-white">
                    <h5 class="modal-title" id="modalAgregarCategoriaLabel">Agregar Categoría</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label asp-for="Name" class="form-label"></label>
                        <input asp-for="Name" class="form-control" id="nombreCategoria" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnAgregarCategoriaModal" class="btn btn-primary">Guardar</button>
                    <button type="button" id="btnCerrarModal" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- End Modal para agregar -->
<!-- End Botones de la página para agregar y exportar -->
<!-- Contenido de la página -->
<!-- Tabla de datos -->
<div class="row">
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Listado de Categorías
        </div>
        <div class="card-body">
            <table class="table table-striped table-bordered" id="tablaCategoria" aria-describedby="dataTable_info" style="width: 100%;">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Fecha de creación</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
<!-- End Tabla de datos -->
<!-- End Contenido de la página -->
<!-- Scripts de la página -->
@section Scripts {
    <script>
        $(document).ready(function () {
            $("#tablaCategoria").DataTable({
                ajax: {
                    url: "/Author/Categories/GetAll"
                },
                columns: [
                    { data: "name", width: "40%" },
                    {
                        data: "createdDate",
                        render: function (data) {
                            return moment(data).format('DD/MM/YYYY HH:mm:ss');
                        }, width: "15%"
                    },
                    {
                        data: "categoryId",
                        render: function (data, type, row) {
                            if (row.isActive == true) {
                                return `
                                    <div class="text-center">
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalAgregarCategoria" onclick="GetCategory('/Author/Categories/GetByID/${data}')">
                                            <i class="fas fa-edit"></i>
                                        </button>
                                        <button type="button" class="btn btn-danger" onclick="Delete('/Author/Categories/Delete/${data}')">
                                            <i class="fas fa-trash-alt"></i>
                                         </button>
                                    </div>
                                `;
                            }
                            else {
                                return `
                                    <div class="text-center">
                                        <button type="button" class="btn btn-success" onclick="Active('/Author/Categories/Active/${data}')">
                                            <i class="fas fa-check"></i>
                                        </button>
                                    </div>
                                 `;
                            }
                        }, width: "10%"
                    }
                ],
                language: {
                    decimal: "",
                    emptyTable: "No hay información",
                    info: "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                    infoEmpty: "Mostrando 0 to 0 of 0 Entradas",
                    infoFiltered: "(Filtrado de _MAX_ total entradas)",
                    infoPostFix: "",
                    thousands: ",",
                    lengthMenu: "Mostrar _MENU_ Entradas",
                    loadingRecords: "Cargando...",
                    processing: "Procesando...",
                    search: "Buscar:",
                    zeroRecords: "Sin resultados encontrados",
                    paginate: {
                        first: "Primero",
                        last: "Ultimo",
                        next: "Siguiente",
                        previous: "Anterior",
                    },
                },
            });
        });

        $("#btnAgregarCategoriaModal").click(function (event) {
            event.preventDefault();
            let categoryId = $("#categoryId").val();
            let name = $("#nombreCategoria").val();
            if (categoryId == "" || categoryId == null) {
                let url = "/Author/Categories/Create";
                let data = { name: name };
                $.ajax({
                    type: "POST",
                    url: url,
                    data: data,
                    success: function (data) {
                        if (data.success) {
                            $("#modalAgregarCategoria").modal("hide");
                            $("#fromUpsert").trigger("reset");
                            $("#tablaCategoria").DataTable().ajax.reload();
                            toastr.success(data.message);
                        } else {
                            toastr.error(data.message);
                        }
                    }
                });
            }
            else {
                let url = "/Author/Categories/Update";
                let data = { categoryId: categoryId, name: name };
                $.ajax({
                    type: "PUT",
                    url: url,
                    data: data,
                    success: function (data) {
                        if (data.success) {
                            $("#modalAgregarCategoria").modal("hide");
                            $("#fromUpsert").trigger("reset");
                            $("#tablaCategoria").DataTable().ajax.reload();
                            toastr.success(data.message);
                        } else {
                            toastr.error(data.message);
                        }
                    }
                });
            }
        });

        $("#btnAgregarCategoria").click(function (event) {
            event.preventDefault();
            //cambiar el titulo del modal
            $("#modalAgregarCategoriaLabel").html("Agregar Categoría");
            $("#fromUpsert").trigger("reset");
            //cambiar el texto del botón
            $("#btnAgregarCategoriaModal").html("Guardar");
        });

        function GetCategory(url) {
            $("#modalAgregarCategoriaLabel").html("Editar Categoría");
            $("#btnAgregarCategoriaModal").html("Editar");
            $.ajax({
                type: "GET",
                url: url,
                success: function (data) {
                    let categoria = data.data;
                    $("#categoryId").val(categoria.categoryId);
                    $("#nombreCategoria").val(categoria.name);
                }
            });
        }

        function Delete(url) {
            Swal.fire({
                title: "¿Estás seguro de eliminar la Categoría?",
                text: "No podrás revertir esto!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Si, eliminar!",
                cancelButtonText: "No, cancelar!",
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        type: "DELETE",
                        url: url,
                        success: function (data) {
                            if (data.success) {
                                $("#tablaCategoria").DataTable().ajax.reload();
                                toastr.success(data.message);
                            } else {
                                toastr.error(data.message);
                            }
                        }
                    });
                }
            });
        }

        function Active(url) {
            Swal.fire({
                title: "¿Estás seguro de activar la Categoría?",
                text: "No podrás revertir esto!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Si, activar!",
                cancelButtonText: "No, cancelar!",
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        type: "PATCH",
                        url: url,
                        success: function (data) {
                            if (data.success) {
                                $("#tablaCategoria").DataTable().ajax.reload();
                                toastr.success(data.message);
                            } else {
                                toastr.error(data.message);
                            }
                        }
                    });
                }
            });
        }
    </script>
}
<!-- End Scripts -->