@model CamarasReviews.Models.ViewModels.PostViewModel
@{
    ViewData["Title"] = "Reseñas de cámaras";
}
<div class="row">
    <div class="col-lg-8  mb-5 mb-lg-0">
      <!-- Contenedor Post -->
      <article class="row mb-5">
         <div class="col-md-4 mb-4 mb-md-0">
            <div class="post-slider slider-sm">
               <img loading="lazy" src="images/post/post-6.jpg" class="img-fluid" alt="post-thumb"
                  style="height:200px; object-fit: cover;">
               <img loading="lazy" src="images/post/post-1.jpg" class="img-fluid" alt="post-thumb"
                  style="height:200px; object-fit: cover;">
               <img loading="lazy" src="images/post/post-3.jpg" class="img-fluid" alt="post-thumb"
                  style="height:200px; object-fit: cover;">
            </div>
         </div>
         <div class="col-md-8">
            <h3 class="h5"><a class="post-title" href="post-elements.html">Elements That You Can Use To Create
                  A New
                  Post On This Template.</a></h3>
            <ul class="list-inline post-meta mb-2">
               <li class="list-inline-item"><i class="ti-user mr-2"></i><a href="author.html">John Doe</a>
               </li>
               <li class="list-inline-item">Date : March 15, 2020</li>
               <li class="list-inline-item">Categories : <a href="#!" class="ml-1">Photography </a>
               </li>
               <li class="list-inline-item">Tags : <a href="#!" class="ml-1">Photo </a> ,<a href="#!"
                     class="ml-1">Image </a>
               </li>
            </ul>
            <p>Heading example Here is example of hedings. You can use this heading by following markdownify
               rules. …</p> <a href="post-elements.html" class="btn btn-outline-primary">Continue Reading</a>
         </div>
      </article>
   </div>
   <aside class="col-lg-4">
      <!-- Búsqueda -->
      <div class="widget">
         <h5 class="widget-title"><span>Búsqueda</span></h5>
         <form action="/logbook-hugo/search" class="widget-search">
            <input id="search-query" name="search" type="search" placeholder="Buscar..." class="form-control">
            <button type="submit"><i class="ti-search"></i>
            </button>
         </form>
      </div>
      <!-- categories -->
      <div class="widget">
         <h5 class="widget-title"><span>Categorías</span></h5>
         <ul class="list-unstyled widget-list">
            @* <li><a href="#!" class="d-flex">Cámaras
                  <small class="ml-auto">Artículos (10)</small></a>
            </li> *@
            @if (Model.Categories != null && Model.Categories.Any())
            {
               @foreach (var item in Model.Categories)
               {
                  <li>
                     <a href="/Reviews/Buscar/@item.Name" class="d-flex">@item.Name
                     </a>
                  </li>
               }
            }
         </ul>
      </div>
      <!-- latest post -->
      <div class="widget">
         <h5 class="widget-title"><span>Últimos Artículos</span></h5>
         <!-- post-item -->
         <ul class="list-unstyled widget-list">
            @if (Model.LastReviews != null && Model.LastReviews.Any())
            {
               @foreach (var item in Model.LastReviews)
               {
                  <li class="media widget-post align-items-center">
                     <a href="/Reviews/Details/@item.ReviewId">
                        @foreach (var imagen in item.ReviewImages)
                        {
                           <img loading="lazy" class="mr-3" src="@imagen.UrlImagen" alt="post-thumb">
                        }
                     </a>
                     <div class="media-body">
                        <h5 class="h6 mb-0">
                           <a href="/Reviews/Details/@item.ReviewId">@item.Title</a>
                        </h5>
                        <small>@item.CreatedDate.ToString("MMMM dd, yyyy")</small>
                     </div>
                  </li>
               }
            }
         </ul>
      </div>
   </aside>
</div>