@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div class="login px-4">
@if (SignInManager.IsSignedIn(User))
{
        <div class="dropdown">
            <a class="btn btn-outline-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="ti-user mr-1"></i> @UserManager.GetUserName(User)
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                @if (User.IsInRole("Admin"))
                {
                    <a class="dropdown-item" asp-area="Admin" asp-controller="Home" asp-action="Index">Admin</a>
                }
                <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">Manage</a>
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })" method="post">
                    <button type="submit" class="dropdown-item">Logout</button>
                </form>
            </div>
        </div>}
else
{
        <a class="btn btn-outline-primary ml-1" asp-area="Identity" asp-page="/Account/Login"><i class="ti-user mr-1"></i> Login</a>
        <a class="btn btn-outline-primary ml-1" asp-area="Identity" asp-page="/Account/Register"><i class="ti-pencil-alt mr-1"></i>Register</a>
}
</div>

